<#@ template language="C#" hostspecific="true" #>
<#@ output extension="ignore" #>
<#@ include file="..\..\..\Feature.Infrastructure\TextTemplateIncludes\AddonMetadataKeyGenerator.ttinclude" #>
<#
    // Call the reusable method
    GenerateAddinMetaData("../TopicsData.json");
#>