<#@ template language="C#" hostspecific="true" #>
<#@ output extension="ignore" #>
<#@ include file="..\..\..\Feature.Infrastructure\TextTemplateIncludes\SubTopicsGenerator.ttinclude" #>
<#
    GenerateSubTopics("../TopicsData.json");
#>