<#@ template language="C#" hostspecific="true" #>
<#@ output extension="ignore" #>
<#@ include file="..\..\..\Feature.Infrastructure\TextTemplateIncludes\SubTopicsPropertiesGenerator.ttinclude" #>
<#
    GenerateSubTopicsProperties("../TopicsData.json");
#>