<#@ template language="C#" hostspecific="true" #>
<#@ output extension="ignore" #>
<#@ include file="..\..\..\Feature.Infrastructure\TextTemplateIncludes\SubTopicsViewModelsGenerator.ttinclude" #>
<#
    GenerateSubTopicsViewModels("../TopicsData.json");
#>